@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-primary: 17 24 39;
    --text-secondary: 172 172 172;
    --bg1: 255 255 255;
    --bg2: 245 245 245;
    --hover-accent: 220 220 220;
  }

  [data-theme="dark"] {
    --text-primary: 238 238 238;
    --text-secondary: 200 200 200;
    --bg1: 34 34 34;
    --bg2: 38 38 38;
    --hover-accent: 85 85 85;
  }
}

@layer components {
  .mini-spinner {
    margin: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid theme("colors.primary");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  .spinner {
    margin: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 4px solid theme("colors.primary");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  .tooltip {
    @apply invisible absolute right-0 top-1/2 -translate-y-1/2 translate-x-[110%] whitespace-nowrap rounded-lg border border-secondary bg-bg1 px-2 py-1 font-semibold opacity-0 transition group-hover:visible group-hover:opacity-100 group-focus-visible:visible group-focus-visible:opacity-100;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
