@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-primary: 17 24 39;
    --text-secondary: 172 172 172;
    --bg1: 255 255 255;
    --bg2: 245 245 245;
  }

  [data-theme="dark"] {
    --text-primary: 238 238 238;
    --text-secondary: 200 200 200;
    --bg1: 34 34 34;
    --bg2: 38 38 38;
  }
}

@layer components {
  .mini-spinner {
    margin: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid theme("colors.primary");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
